<footer class="footer">
  <small>
    The Sample App written by Ehsan Akbari
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path,class: 'link' %></li>
      <li><%= link_to "Contact", contact_path,class: 'link' %></li>
      <li><a href="http://www.shahrekhabar.ir" class="link">News</a></li>
    </ul>
  </nav>
</footer>